<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
<body>
<th:block layout:fragment="content">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-6">주문이 완료되었습니다.</h3>
      </div>
<div class="container" id="ordercomplete">
    <div class="row">
        <div class="col text-center">
        	<button type="button" class="btn btn-secondary" id="btn_order_history">주문내역으로</button>
        	<button type="button" class="btn btn-secondary" id="btn_cart_page">장바구니로</button>
        	<button type="button" class="btn btn-secondary" id="btn_shopping_continue">쇼핑 계속하기</button>
        </div>
    </div>
    <div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div> 
</th:block>
<th:block layout:fragment="script">
<script>
	$(document).ready(function(){
      //주문내역
      $("button#btn_order_history").on("click", function(){
        location.href = "/order/order_history";
      });
      
      //장바구니로
      $("button#btn_cart_page").on("click", function(){
        location.href = "/cart/cart_list";
      });

      //쇼핑 계속하기
      $("button#btn_shopping_continue").on("click", function(){
        location.href = "/";
      });
});
</script>
</th:block>
</body>
</html>