<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
<body>
<th:block layout:fragment="content">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
   
		<script id="order-product-template" type="text/x-handlebars-template">
				   <h5>[주문상품정보]</h5>
			 <table class="table">
			   <thead class="thead-dark">
				 <tr>
				   <th>상품번호</th>
				   <th scope="col">주문상품</th>
				   <th scope="col">판매가</th>
				   <th scope="col">수량</th>
				   <th scope="col">주문금액</th>
				 </tr>
			   </thead>
			   <tbody>
			 {{#each .}} 
				 <tr>
				   <td>{{pro_num}}</td>
				   <td>
					<a class="move" href="#">
						<img src="/product/image_display?dateFolderName={{pro_up_folder}}&fileName=s_{{pro_img}}" style="width:80px;height:100px">
					</a>
					 
					 <a class="move pro_name" href="#">{{pro_name}}</a>
				   </td>
				   <td>{{dt_price}}</td>
				   <td>{{dt_amount}}</td>
				   <td>{{unit_order_tot_price dt_price dt_amount}}</td>
				 </tr>			  
				{{/each}}
		 </tbody>
			 </table>
		</script>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="display-6">주문내역</h3>
</div>
<div class="container" id="order_history_info">
	  <div class="row mb-4">
      <table class="table table-bordered">
        <tbody><tr>
          <th style="width: 8%"></th>
          <th style="width: 18%">이미지</th>
          <th style="width: 15%">주문상품</th>
          <th style="width: 10%">결제액</th>
          <th style="width: 10%">수량</th>
          <th style="width: 20%">주문일</th>
          <th style="width: 10%">주문상세보기</th>
        </tr>
        <tr class="row mb-3 justify-content-center" th:if="${#lists.isEmpty(order_history)}">
          <p>주문내역이 없습니다.</p>
        </tr>
        <tr th:if="${!#lists.isEmpty(order_history)}" th:each="orderhistory, status : ${order_history}">
          <td><span name="order_history_code" th:text="${status.count}"></span>
              <input type="hidden" th:value="${orderhistory.ord_code}">
          </td>
          <td><img th:src="${'/product/image_display?dateFolderName=' + orderhistory.pro_up_folder + '&fileName=s_' + orderhistory.pro_img}" style="width: 100px; height: 90px;"></td>
          <td>[[${orderhistory.pro_name}]]</td>
          <td><span name="order_history_price" th:text="${#numbers.formatInteger(orderhistory.pro_disprice * orderhistory.dt_amount, 3, 'COMMA') + ' 원'}"></span></td>
          <td><span name="order_history_amount" th:text="${orderhistory.dt_amount}"></td>
          <td th:text="${#dates.format(orderhistory.ord_regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
          <td><button type="button" class="btn btn-info" name="btn_order_info" th:data-ord_code="${orderhistory.ord_code}">자세히</button></td>
        </tr>
        
        </tbody>
      </table>
      <div class="row mb-5">
	  	<div class="col text-center">
        	<button type="button" class="btn btn-secondary" id="btn_shopping_continue">쇼핑 계속하기</button>
        </div>
	  	
	  </div>   
 
	<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>
<!-- Modal -->
<div class="modal fade" id="order_history_detail_info_popup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel2">주문내역상세</h5>
      <button type="button" id="btn_close" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- load()메서드를 이용하여, pro_info_2.html파일이 실행된 내용이 삽입된다. -->
    <div class="modal-body" id="popup_info">
          
          <!-- 주문상품정보 -->
          <div id="order_product_info">

          </div>
      
      <hr>
      <h5>[결제정보]</h5>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">결제방식</th>
            <td scope="col"><input type="text" id="paymethod" readonly></td>
            <th scope="col">결제금액</th>
            <td scope="col"><input type="text" id="p_disprice" readonly></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">입금자명</th>
            <td><input type="text" id="u_id" readonly></td>
            <th>입금계좌</th>
            <td><input type="text" id="payinfo" readonly></td>
          </tr>
          <tr>
            <th scope="row">입금상태</th>  <!--  <span id="p_status"></span> 인식이 안됨 -->
            <td><input type="text" id="p_status" readonly></td>
            <th>기타</th>
            <td><span>기타</span></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h5>[주문자(수령인)정보]</h5>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">수령인</th>
            <td scope="col">
              <input type="text" id="ord_name" name="ord_name" readonly>
          <input type="hidden" id="u_id" name="u_id">
            </td>
            <th scope="col">전화번호</th>
            <td scope="col">
              <input type="text" id="ord_phone" name="ord_phone" readonly>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">주소</th>
            <td colspan="3"><!-- onclick="sample2_execDaumPostcode()" -->
              <input type="text" class="form-control" id="sample2_postcode" name="ord_zip_code" placeholder="우편번호 입력하세요." readonly>
              <input type="text" class="form-control" id="sample2_address" name="ord_addr" placeholder="기본주소를 입력하세요." readonly>
              <input type="text" class="form-control" id="sample2_detailAddress" name="ord_deaddr" placeholder="상세주소를 입력하세요." readonly>
              <input type="hidden" id="sample2_extraAddress" placeholder="참고항목" readonly>
              
            </td>
          </tr>
          <tr>
            <th scope="row">배송메모</th>
            <td colspan="3">
              <textarea rows="3" cols="70" id="ord_desc" name="ord_desc" readonly></textarea>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>       
        </div>	
    </div>
  </div>
  </div>
</th:block>

<th:block layout:fragment="script">
<script>
	$(document).ready(function(){
			//주문내역 리스트
      
      //쇼핑 계속하기
      $("button#btn_shopping_continue").on("click", function(){
        location.href = "/";
      });



      //주문내역 버튼 클릭시 name="btn_order_info"
	  $("button[name='btn_order_info']").on("click", function(){
      ord_code = $(this).data("ord_code");
      
      order_detail_info();
      });
      
      function order_detail_info() {
        //주문상세정보 id="order_history_detail_info_popup"
      $("#order_history_detail_info_popup").modal('show');
      //$("popup_info").load("/admin/order/order_detail_info?ord_code=" + ord_code);
      $.ajax({
        url : '/order/order_history_detail',
        type : 'get',
        data : {ord_code : ord_code},
        dataType : 'json',
        success : function(result) {
          console.log(result);
  
          // 주문자(수령인) 
          $("#ord_name").val(result.ord_basic.ord_name);
          $("#ord_phone").val(result.ord_basic.ord_phone);
          $("#sample2_postcode").val(result.ord_basic.ord_zip_code);
          $("#sample2_address").val(result.ord_basic.ord_addr);
          $("#sample2_detailAddress").val(result.ord_basic.ord_deaddr);
          $("#ord_desc").val(result.ord_basic.ord_desc);
          
          
          // 주문상품정보
          print_order_product_info(result.ord_pro_list, $("#order_product_info"), $("#order-product-template"));
	  
          console.log(result.payinfo.paymethod);
      
          // 결제정보
          $("#paymethod").val(result.payinfo.paymethod);
          $("#p_disprice").val(result.payinfo.p_disprice);
          $("#u_id").val(result.payinfo.u_id);
          $("#payinfo").val(result.payinfo.payinfo);
          $("#p_status").val(result.payinfo.p_status);
        },
        error : function() {
  
        }
      });
      }
    //Handlebar 작업 함수
	  let print_order_product_info = function(order_product_data, target, template) {
		let templateObj = Handlebars.compile(template.html()); // 템플릿 문법검사및 참조
		let order_product_html = templateObj(order_product_data);
		target.children().remove();
		target.append(order_product_html);
}

	// 주문금액(가격 * 수량)
	Handlebars.registerHelper("unit_order_tot_price", function(dt_price, dt_amount) {
	
	return dt_price * dt_amount;
});
});
</script>
</th:block>
</body>
</html>