<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
<body>
<th:block layout:fragment="content">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="display-6">주문내역</h3>
</div>
<div class="container" id="order_history_info">
	  <div class="row mb-4">
	  	<div class=col-md-4>
        제품
        </div>
	  	<div class=col-md-2>
        수량
        </div>
        <div class=col-md-1>
        적립
        </div>
        <div class=col-md-2>
        배송비
        </div>
        <div class=col-md-2>
        가격
        </div>
        <div class=col-md-1>
        취소
        </div>
	  </div>
	  <div class="row mb-3 justify-content-center" th:if="${#lists.isEmpty(order_history)}">
	  		<p>주문내역이 없습니다.</p>
	  </div>
      <div class="row mb-3" th:if="${!#lists.isEmpty(order_history)}" th:each="orderhistory : ${order_history}">
        <div class="col-md-4">
          
			<img th:src="${'/product/image_display?dateFolderName=' + orderhistory.pro_up_folder + '&fileName=s_' + orderhistory.pro_img}" style="width: 100px; height: 120px;">
		   
		   <span th:text="${orderhistory.pro_name}"></span>
        </div>
        <div class=col-md-2>
        	<input type="number" name="order_amount" th:value="${orderhistory.dt_amount}" class="w-50" readonly>
        </div>
        <div class=col-md-1>
        	0
        </div>
        <div class=col-md-2>
        [기본배송] 조건
        </div>
        <div class=col-md-2>
        	<span th:text="${#numbers.formatInteger(orderhistory.pro_disprice * orderhistory.dt_amount, 3, 'COMMA') + '원'}"></span>
        </div>
      </div>
      
      <div class="row mb-5">
	  	<div class="col text-center">
        	<button type="button" class="btn btn-secondary" id="btn_shopping_continue">계속 쇼핑하기</button>
        </div>
	  	
	  </div>   
 
	<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>

</th:block>

<th:block layout:fragment="script">
<script>
	$(document).ready(function(){
			//주문내역 리스트
      
      //쇼핑 계속하기
      $("button#btn_shopping_continue").on("click", function(){
        location.href = "/";
      });
});
</script>
</th:block>
</body>
</html>