<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
<body>
<th:block layout:fragment="content">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="display-6">주문내역</h3>
</div>
<div class="container" id="order_history_info">
	  <div class="row mb-4">
      <table class="table table-bordered">
        <tbody><tr>
          <th style="width: 8%">주문번호</th>
          <th style="width: 18%">이미지</th>
          <th style="width: 15%">주문상품</th>
          <th style="width: 10%">주문가격</th>
          <th style="width: 10%">수량</th>
          <th style="width: 20%">주문일</th>
          <th style="width: 10%">삭제</th>
          <th style="width: 10%">주문상세보기</th>
        </tr>
        <tr class="row mb-3 justify-content-center" th:if="${#lists.isEmpty(order_history)}">
          <p>주문내역이 없습니다.</p>
        </tr>
        <tr th:if="${!#lists.isEmpty(order_history)}" th:each="orderhistory, status : ${order_history}">
          <td><span name="order_history_code" th:text="${status.count}"></span>
              <input type="hidden" th:value="${orderhistory.ord_code}">
          </td>
          <td><img th:src="${'/product/image_display?dateFolderName=' + orderhistory.pro_up_folder + '&fileName=s_' + orderhistory.pro_img}" style="width: 100px; height: 90px;"></td>
          <td>[[${orderhistory.pro_name}]]</td>
          <td><span name="order_history_price" th:text="${#numbers.formatInteger(orderhistory.ord_price, 3, 'COMMA') + ' 원'}"></span></td>
          <td><span name="order_history_amount" th:text="${orderhistory.dt_amount}"></td>
          <td th:text="${#dates.format(orderhistory.ord_regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
          <td><button type="button" class="btn btn-danger" name="btn_order_del" th:data-ord_code="${orderhistory.ord_code}">삭제</button></td>
          <td><button type="button" class="btn btn-info" name="btn_order_info" th:data-ord_code="${orderhistory.ord_code}">자세히</button></td>
        </tr>
        
        </tbody>
      </table>
      <!--
      <div class=col-md-2>
        주문코드
        </div>
	  	<div class=col-md-4>
        제품
        </div>
	  	<div class=col-md-2>
        수량
        </div>
        <div class=col-md-1>
        적립
        </div>
        <div class=col-md-2>
        배송비
        </div>
        <div class=col-md-2>
        가격
        </div>
        <div class=col-md-1>
        취소
        </div>
	  </div>
	  <div class="row mb-3 justify-content-center" th:if="${#lists.isEmpty(order_history)}">
	  		<p>주문내역이 없습니다.</p>
	  </div>
      <div class="row mb-3" th:if="${!#lists.isEmpty(order_history)}" th:each="orderhistory : ${order_history}">
        <div class="col-md-2">
          <span th:text="${orderhistory.ord_code}"></span>
        </div>
        <div class="col-md-4">
          
			<img th:src="${'/product/image_display?dateFolderName=' + orderhistory.pro_up_folder + '&fileName=s_' + orderhistory.pro_img}" style="width: 100px; height: 120px;">
		   
		   <span th:text="${orderhistory.pro_name}"></span>
        </div>
        <div class=col-md-2>
        	<input type="number" name="order_amount" th:value="${orderhistory.dt_amount}" class="w-50" readonly>
        </div>
        <div class=col-md-1>
        	0
        </div>
        <div class=col-md-2>
        [기본배송] 조건
        </div>
        <div class=col-md-2>
        	<span th:text="${#numbers.formatInteger(orderhistory.pro_disprice * orderhistory.dt_amount, 3, 'COMMA') + '원'}"></span>
        </div>
      </div>
      -->
      <div class="row mb-5">
	  	<div class="col text-center">
        	<button type="button" class="btn btn-secondary" id="btn_shopping_continue">쇼핑 계속하기</button>
        </div>
	  	
	  </div>   
 
	<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>

</th:block>

<th:block layout:fragment="script">
<script>
	$(document).ready(function(){
			//주문내역 리스트
      
      //쇼핑 계속하기
      $("button#btn_shopping_continue").on("click", function(){
        location.href = "/";
      });
});
</script>
</th:block>
</body>
</html>