<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
        <div class="row">
        	<div class="col-6">
        		<img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=s_' + product.pro_img}" id="info_pro_img" style="width: 100%;height: 255px;">
        	</div>
        	<div class="col-6">
        	<form>
				<div class="form-group">
					<span id="info_pro_name" th:text="${product.pro_name}">이름</span>
				</div>
  				<div class="form-group">
			    	<label for="exampleFormControlInput1">정상가 : </label><span th:text="${#numbers.formatInteger(product.pro_price, 3, 'COMMA') + '원'}">가격</span><br>
					할인가 : <span th:text="${#numbers.formatInteger(product.pro_disprice, 3, 'COMMA') + '원'}"></span> - <span th:text="${product.pro_discount}"></span>% 할인중
				</div>
			    <div class="form-group">
					<label>수량</label>
					<input type="text" class="form-control" value="1" id="btn_cart_amount">
			    </div>
			    <div class="form-group">
					<button type="button" class="btn btn-secondary" style="width: 100%;" id="btn_direct_buy" th:data-pro_num="${product.pro_num}">구매하기</button>
					<button type="button" class="btn btn-light" style="width: 100%;" id="btn_cart_add" th:data-pro_num="${product.pro_num}">장바구니</button>
			    </div>
			</form>
        	
        	</div>
        </div>
</html>