<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
<body>
<th:block layout:fragment="content">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="display-6">주문정보</h3>
    </div>
    <div class="container" id="cart_info">
        <div class="row mb-4">
            <div class=col-md-4>
            제품
            </div>
            <div class=col-md-2>
            수량
            </div>
            <div class=col-md-3>
            가격
            </div>
            
        </div>
        <div class="row mb-3 justify-content-center" th:if="${#lists.isEmpty(cart_list)}">
            <p>주문정보가 없습니다.</p>
        </div>
        <div class="row mb-3" th:if="${!#lists.isEmpty(cart_list)}" th:each="cartproduct : ${cart_list}">
            <div class="col-md-4">
            <a class="move" href="#">
                <img th:src="${'/cart/image_display?dateFolderName=' + cartproduct.pro_up_folder + '&fileName=s_' + cartproduct.pro_img}" style="width: 100px; height: 120px;">
                </a>
                <span th:text="${cartproduct.pro_name}"></span>
            </div>
            <div class=col-md-2>
                <span th:text="${cartproduct.cart_amount}"></span>
            </div>
            <div class=col-md-3>
                <span th:text="${#numbers.formatInteger(cartproduct.pro_disprice * cartproduct.cart_amount, 3, 'COMMA') + '원'}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                [총주문 금액] <span th:text="${#numbers.formatInteger(total_price, 3, 'COMMA') + '원'}"></span>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">주문정보(배송) 입력</h3>
                    </div>
                
                <form class="form-horizontal" id="orderForm" action="/order/ordersave" method="post">
                <div class="card-body">
                    
                    <div class="form-group form-check">
                        <th:block th:if="${session.login_status != null}">
                        <input type="checkbox" class="form-check-input" id="ordersame">
                        <label class="form-check-label" for="ordersame">주문자와 동일</label>
                        </th:block>
                    </div>               
                    <div class="form-group row">
                        <label for="ord_name" class="col-sm-2 col-form-label">이름</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="ord_name" name="ord_name" placeholder="이름을 입력하세요">
                        </div>
                        <label for="ord_tel" class="col-sm-2 col-form-label">연락처</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="ord_phone" name="ord_phone" placeholder="연락처를 입력하세요">
                        </div>
                    </div>
                                    
                    <div class="form-group row">
                        <label for="sample2_postcode" class="col-sm-2 col-form-label">우편번호</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="sample2_postcode" name="ord_zip_code" placeholder="우편번호 입력하세요.">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-outline-primary" onclick="sample2_execDaumPostcode()">우편번호</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sample2_address" class="col-sm-2 col-form-label">기본주소</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sample2_address" name="ord_addr" placeholder="기본주소를 입력하세요.">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sample2_detailAddress" class="col-sm-2 col-form-label">상세주소</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sample2_detailAddress" name="ord_deaddr" placeholder="상세주소를 입력하세요.">
                            <input type="hidden" id="sample2_extraAddress" placeholder="참고항목">
                            <input type="hidden" th:value="${total_price}" id="ord_price" name="ord_price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ord_desc">특이사항</label>
                        <textarea class="form-control" id="ord_desc" name="ord_desc" rows="3"></textarea>
                    </div>
                    
                    
                    <div class="form-group row">
                        <div class="col">
                            
                        <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2">결제방법 선택</legend>
                        <div class="form-group row">
                            <label for="u_phone" class="col-2">결제방법</label>
                            <div class="col-10">
                            <input type="radio" name="paymethod" id="paymethod1" value="nobank">무통장 입금
                            <input type="radio" name="paymethod" id="paymethod2" value="kakaopay"><img th:src="@{/image/payment.png}">
                            </div>
                        </div>
                        <div class="form-group row" id="nobank_info" style="display: none;">
                            <label for="u_phone" class="col-2">무통장 입금정보</label>
                            <div class="col-10">
                            은행명 
                            <select name="pay_nobank" id="pay_nobank">
                                <option value="">입금은행을 선택하세요.</option>
                                <option value="KEB하나은행/123-123-1234">KEB하나은행/123-123-1234</option>
                                <option value="국민은행/456-456-4567">국민은행/456-456-4567</option>
                                <option value="신한은행/100-100-1000">신한은행/100-100-1000</option>
                                <option value="SC제일은행/200-200-2000">SC제일은행/200-200-2000</option>
                            </select><br>
                            예금주 <input type="text" name="pay_nobank_user" id="pay_nobank_user"><br>
                            </div>
                        </div>
                        </fieldset>
                            
                        </div>
                    </div>
                                    
                </div>
                
                <div class="card-footer text-center">
                <button type="button" class="btn btn-info" id="btn_order_payment">주문 및 결제</button>
                </div>
                
                </form>
                </div>
            </div>
        </div>
      
 
	<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>
<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
    </div>
    
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // 우편번호 찾기 화면을 넣을 element
        var element_layer = document.getElementById('layer');
    
        function closeDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_layer.style.display = 'none';
        }
    
        function sample2_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수
    
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }
    
                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample2_extraAddress").value = extraAddr;
                    
                    } else {
                        document.getElementById("sample2_extraAddress").value = '';
                    }
    
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample2_postcode').value = data.zonecode;
                    document.getElementById("sample2_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample2_detailAddress").focus();
    
                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_layer.style.display = 'none';
                },
                width : '100%',
                height : '100%',
                maxSuggestItems : 5
            }).embed(element_layer);
    
            // iframe을 넣은 element를 보이게 한다.
            element_layer.style.display = 'block';
    
            // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
            initLayerPosition();
        }
    
        // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
        // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
        // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
        function initLayerPosition(){
            var width = 300; //우편번호서비스가 들어갈 element의 width
            var height = 400; //우편번호서비스가 들어갈 element의 height
            var borderWidth = 5; //샘플에서 사용하는 border의 두께
    
            // 위에서 선언한 값들을 실제 element에 넣는다.
            element_layer.style.width = width + 'px';
            element_layer.style.height = height + 'px';
            element_layer.style.border = borderWidth + 'px solid';
            // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
            element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
            element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
        }
    </script>
</th:block>
<th:block layout:fragment="script">
<script>
$(document).ready(function(){

    //결제방법선택
    $("input[name='paymethod']").on("click", function(){
        let paymethod = $("input[name='paymethod']:checked").val();

        if(paymethod == "nobank") {
            $("#nobank_info").show();
        }else if(paymethod == "kakaopay"){
            $("#nobank_info").hide();
        }
    });

    //주문자와 동일
    $("input#ordersame").on("click", function(){
        if($("input#ordersame").is(":checked")) {

            $.ajax({
                url : '/order/ordersame',
                type : 'get',
                dataType : 'json',
                success : function(result) {
                    $("input#ord_name").val(result.u_name);
                    $("input#ord_phone").val(result.u_phone);
                    $("input#sample2_postcode").val(result.u_zipcode);
                    $("input#sample2_address").val(result.u_addr);
                    $("input#sample2_detailAddress").val(result.u_deaddr);
                }
            });
            
        }else{
            $("input#ord_name").val("");
            $("input#ord_phone").val("");
            $("input#sample2_postcode").val("");
            $("input#sample2_address").val("");
            $("input#sample2_detailAddress").val("");
        }
    });

    //주문결제하기
    $("button#btn_order_payment").on("click", function(){

        let paymethod = $("input[name='paymethod']:checked").val();
        console.log("paymethod", paymethod);

        if(paymethod == "nobank") {
            let orderForm = $("#orderForm");
            orderForm.submit();
            //location.href = "/order/ordercomplete"
        }else if(paymethod == "kakaopay") {
            $.ajax({
            url : '/kakao/kakaoPay',
            type : 'get',
            data : {ord_name : $("#ord_name").val(), ord_zip_code : $("#sample2_postcode").val(), ord_addr : $("#sample2_address").val(), ord_deaddr : $("#sample2_detailAddress").val(), ord_phone : $("#ord_phone").val(), ord_price : $("#ord_price").val(), ord_desc : $("#ord_desc").val()},
            dataType : 'json',
            success : function(response) {
                console.log("응답: " + response);

                alert(response.next_redirect_pc_url);
                location.href = response.next_redirect_pc_url; //결제QR코드 
            }
          });
        }
        
    });

});


</script>


</th:block>
</body>
</html>