<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{layout/comm/config :: configFragment}"></head>
<body>
  <div th:replace ="~{layout/comm/header :: headerFragment}"></div>
  <div th:replace ="~{layout/comm/category :: categoryFragment}"></div>
  <th:block layout:fragment = "content">
    <!-- 각각의 페이지에서 구현하고자 하는 컨텐츠를 작성 -->
  </th:block>
  <!-- <div th:replace ="~{layout/comm/footer :: footerFragment}" ></div> -->
  
  <th:block th:replace="~{layout/comm/script :: script}"></th:block>
  <th:block layout:fragment="script">
	<!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
	</th:block>
	
	<script>
	$(document).ready(function(){
		  //1차 카테고리 선택
		  $("div#category_menu li a").on("mouseover", function(e){
			e.preventDefault();
			
		    let cur_first_category = $(this);
		    
			let cate_code = $(this).data("cate_code");
			
			

		    //console.log("cate_code", cate_code);

		    //2차 카테고리 주소
		    let url = "/admin/category/secondcategory/" + cate_code;

		    $.getJSON(url, function(secondcategory_result) {
		      
		      let str = '<ul class="nav justify-content-center" id="second_category">';
		    	
		      for(let i=0; i<secondcategory_result.length; i++) {
		        
		    	  //<li class="nav-item">
		    	  //<a class="nav-link active" href="#" data-cate_code="1">TOP</a>
		    	  //</li>
		    	  str += '<li class="nav-item">';
		    	  str += `<a class="nav-link active" href="#" data-cate_code="${secondcategory_result[i].cate_code}">${secondcategory_result[i].cate_name}</a>`;
		    	  str += '</li>';

		      }
		      str += "</ul>";
			  cur_first_category.parents("div#category_menu").find("ul#second_category").remove();
			  cur_first_category.parents("div#category_menu").append(str);

		    });
		  });
		  	//2차 카테고리 선택
			$("div#category_menu").on("click", "ul#second_category li a", function(e){
					e.preventDefault();

					let cate_code = $(this).data("cate_code");
					let cate_name = encodeURIComponent($(this).html());

					console.log("2차카테고리코드", cate_code);
					console.log("2차카테고리이름", cate_name);
					
					// cat_name=맨투맨&후드티 & 특수문자로 인하여 서버에서는 맨투맨 문자열만 인식됨.
					location.href = `/product/pro_list?cate_code=${cate_code}&cate_name=${cate_name}`;
			});
  }); 
	</script>
	
</body>
</html>