<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.admin.analysis.AnalysisMapper">
<select id="monthlySalesStatusByTopCategory" parameterType="String" resultType="hashmap">
select c.cate_name primary_cd, sum(d.dt_amount * d.dt_price) sales_p, sum(d.dt_amount) sales_a
from product_t p inner join ordt_t d
on p.pro_num = d.pro_num
inner join (select c2.cate_name, c1.cate_code from category_t c1, category_t c2 where c1.cate_pcode = c2.cate_code ) c
on p.cate_code = c.cate_code
inner join order_t o
on o.ord_code = d.ord_code
and TO_CHAR(o.ord_regdate, 'YYYY/MM') = #{ord_date}
group by c.cate_name, TO_CHAR(o.ord_regdate, 'YYYY/MM')
order by c.cate_name
</select>

<select id="monthlyOrderByTopCategory" parameterType="String" resultType="hashmap">
select c.cate_name primary_cd, count(d.ord_code) sales_count
from product_t p inner join ordt_t d
on p.pro_num = d.pro_num
inner join (select c2.cate_name, c1.cate_code from category_t c1, category_t c2 where c1.cate_pcode = c2.cate_code ) c
on p.cate_code = c.cate_code
inner join order_t o
on o.ord_code = d.ord_code
and TO_CHAR(o.ord_regdate, 'YYYY/MM') = #{ord_date}               
group by c.cate_name, TO_CHAR(o.ord_regdate, 'YYYY/MM')
order by c.cate_name
</select>


</mapper>