<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.admin.user.AdminUserMapper">
<resultMap type="MailMngVO" id="mailmngMap">
	<id property="idx" column="m_idx"/>
	<result property="title" column="m_title" />
	<result property="content" column="m_content" />
	<result property="gubun" column="m_gubun" />
	<result property="sendcount" column="m_send_count" />
	<result property="regDate" column="reg_date" />
</resultMap>


<insert id="mailing_save" parameterType="MailMngVO">
<selectKey keyProperty="idx" resultType="Integer" order="BEFORE">
select seq_m_idx.nextval
from dual
</selectKey>
insert into mailing_t (m_idx, m_title, m_content, m_gubun)
values (#{idx}, #{title}, #{content}, #{gubun})
</insert>

<select id="getAllMailAddress" resultType="String">
select u_email
from user_t
</select>

<update id="mailSendCountUpdate" parameterType="int">
update mailing_t
set m_send_count = m_send_count + 1
where m_idx = #{idx}
</update>

<select id="getMailInfoList" resultMap="mailmngMap" parameterType="com.food.basic.common.dto.Criteria">
select m_idx, m_title, m_content, m_gubun, m_send_count, reg_date
from (
		select /*+ index_desc(mailing_t pk_m_idx) */
		rownum as rn, m_idx, m_title, m_content, m_gubun, m_send_count, reg_date
		from mailing_t
		where 1 = 1
<include refid="mailsearch"></include>
<![CDATA[
		and rownum <= (#{cri.pageNum} * #{cri.amount})
]]>
)
where rn > (#{cri.pageNum} - 1) * #{cri.amount}
</select>

<select id="getMailListCount" parameterType="String" resultType="int">
select count(*)
from mailing_t
where 1 = 1
<include refid="mailsearch"></include>
</select>

<sql id="mailsearch">
<if test="title != null and !title.equals('')">and m_title like '%' || #{title} || '%'</if>
</sql>

<select id="getMailSendInfo" resultMap="mailmngMap" parameterType="int">
select m_idx, m_title, m_content, m_gubun, m_send_count, reg_date
from mailing_t
where m_idx = #{idx}
</select>

<update id="mailingedit" parameterType="MailMngVO">
update mailing_t
set m_title = #{title}, m_content = #{content}, m_gubun = #{gubun}, reg_date = sysdate
where m_idx = #{idx}
</update>

</mapper>