<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.admin.product.AdminProductMapper">
<!--  테이블의 컬럼명과 VO, DTO 클래스의 필드명이 다를때 사용한다. 현재는 컬럼명과필드명이 같은상태입니다. -->
<resultMap type="ProductVO" id="productMap">
<id property="pro_num" column="pro_num"/>
	<result property="cate_code" column="cate_code"/>
	<result property="pro_name" column="pro_name"/>
	<result property="pro_price" column="pro_price"/>
	<result property="pro_discount" column="pro_discount"/>
	<result property="pro_publisher" column="pro_publisher"/>
	<result property="pro_content" column="pro_content"/>
	<result property="pro_up_folder" column="pro_up_folder"/>
	<result property="pro_img" column="pro_img"/>
	<result property="pro_amount" column="pro_amount"/>
	<result property="pro_buy" column="pro_buy"/>
	<result property="pro_date" column="pro_date"/>
	<result property="pro_updatedate" column="pro_updatedate"/>
</resultMap>



<insert id="pro_insert" parameterType="com.food.basic.admin.product.ProductVO">
insert into product_t (pro_num, cate_code, pro_name, pro_price, pro_discount, pro_publisher, pro_content, pro_up_folder, pro_img, pro_amount, pro_buy, pro_disprice)
values (seq_pro_num.nextval, #{cate_code}, #{pro_name}, #{pro_price}, #{pro_discount}, #{pro_publisher}, #{pro_content}, #{pro_up_folder}, #{pro_img}, #{pro_amount}, #{pro_buy}, #{pro_disprice})        
</insert>

<!-- 검색조건 -->
<sql id="criteria">
<trim prefix="(" suffix=") AND" prefixOverrides="OR">
<foreach collection="typeArr" item="type">
<trim prefix="OR">
<choose>
<when test="type == 'N'.toString()">
pro_name like '%' || #{keyword} || '%'
</when>
<when test="type == 'C'.toString()">
cate_code like '%' || #{keyword} || '%'
</when>
<when test="type == 'P'.toString()">
pro_publisher like'%' || #{keyword} || '%'
</when>
</choose>
</trim>
</foreach>
</trim>
</sql>
<!-- 검색조건추가 리스트 -->
<select id="pro_list" resultType="ProductVO" parameterType="com.food.basic.common.dto.Criteria">
select pro_num, cate_code, pro_name, pro_price, pro_discount, pro_publisher, pro_content, pro_up_folder, pro_img, pro_amount, pro_buy, pro_disprice, pro_date, pro_updatedate
from(
select /*+ index_desc(product_t pk_pro_num) */
rownum as rn, pro_num, cate_code, pro_name, pro_price, pro_discount, pro_publisher, pro_content, pro_up_folder, pro_img, pro_amount, pro_buy, pro_disprice, pro_date, pro_updatedate
from product_t
where 
<include refid="criteria"></include>
<![CDATA[
rownum <= (#{pageNum} * #{amount}) -- 페이지번호 * 페이지별 출력건수, 추가 쿼리, 조건은 이 안쪽으로 추가
]]>
)
where rn > (#{pageNum} - 1) * #{amount} 
</select>

<select id="getTotalCount" resultType="int">
select count(*)
from product_t
where <include refid="criteria"></include>
pro_num > 0
</select>

<select id="pro_edit" resultType="ProductVO" parameterType="Integer">
select pro_num, cate_code, pro_name, pro_price, pro_discount, pro_publisher, pro_content, pro_up_folder, pro_img, pro_amount, pro_buy, pro_date, pro_updatedate, pro_disprice
from product_t
where pro_num = #{pro_num}
</select>


<update id="pro_edit_ok" parameterType="ProductVO">
update product_t
set cate_code = #{cate_code}, pro_name = #{pro_name}, pro_price = #{pro_price}, pro_discount = #{pro_discount}, 
pro_publisher = #{pro_publisher}, pro_content = #{pro_content}, pro_up_folder = #{pro_up_folder}, 
pro_img = #{pro_img}, pro_amount = #{pro_amount}, pro_buy = #{pro_buy}, pro_updatedate = sysdate, pro_disprice = #{pro_disprice}
where pro_num = #{pro_num}
</update>

<delete id="pro_delete" parameterType="Integer">
delete from product_t
where pro_num = #{pro_num}
</delete>

<update id="pro_checked_modify1" parameterType="map">
update product_t
set pro_price = #{pro_price}, pro_buy = #{pro_buy}, pro_discount = #{pro_discount}, pro_disprice = #{pro_disprice}
where pro_num = #{pro_num}
</update>

<update id="pro_checked_modify2" parameterType="list">
<foreach collection="list" item="item" open="declare begin" separator=";" close="; end;">
update product_t
set pro_price = #{item.pro_price}, pro_buy = #{item.pro_buy}, pro_discount = #{item.pro_discount}, pro_disprice = #{item.pro_disprice}
where pro_num = #{item.pro_num}
</foreach>
</update>

</mapper>