<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.qna.QnaMapper">
<!-- 검색조건 -->
<sql id="criteria">
<trim prefix="(" suffix=") AND" prefixOverrides="OR">
<foreach collection="typeArr" item="type">
<trim prefix="OR">
<choose>
<when test="type == 'T'.toString()">
q_title like '%' || #{keyword} || '%'
</when>
<when test="type == 'C'.toString()">
q_content like'%' || #{keyword} || '%'
</when>
</choose>
</trim>
</foreach>
</trim>
</sql>

<!-- 검색조건추가 리스트 -->
<select id="qna_list" resultType="com.food.basic.qna.QnaVO" parameterType="com.food.basic.common.dto.Criteria">
select q_num, q_title, q_content, q_regdate, q_updatedate
from(
select /*+ index_desc(qna_t pk_q_num) */
rownum as rn, q_num, q_title, q_content, q_regdate, q_updatedate
from qna_t
where --페이지 번호 * 페이지별 출력건수
<include refid="criteria"></include>
<![CDATA[
rownum <= (#{pageNum} * #{amount})
]]>
)
where rn > (#{pageNum} - 1) * #{amount} --(페이지번호 - 1) * 페이지별 출력건수
</select>

<select id="getTotalCount" resultType="int">
select count(*)
from qna_t
where <include refid="criteria"></include>
q_num > 0
</select>

</mapper>