<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.admin.faq.AdminFaqMapper">

<!-- 검색조건 -->
<sql id="mysqlCriteria">
<trim prefix="where" prefixOverrides="OR">
<foreach collection="typeArr" item="type">
<trim prefix="OR">
<choose>
<when test="type == 'T'.toString()">
q_title like concat('%',#{keyword},'%')
</when>
<when test="type == 'C'.toString()">
q_content like concat('%',#{keyword},'%')
</when>
</choose>
</trim>
</foreach>
</trim>
</sql>
<!-- 검색조건 카운트용 -->
<sql id="countCriteria">
<trim suffix="and" prefixOverrides="OR">
<foreach collection="typeArr" item="type">
<trim prefix="OR">
<choose>
<when test="type == 'T'.toString()">
q_title like concat('%',#{keyword},'%')
</when>
<when test="type == 'C'.toString()">
q_content like concat('%',#{keyword},'%')
</when>
</choose>
</trim>
</foreach>
</trim>
</sql>

<!-- 검색조건추가 리스트 -->
<select id="faq_list" resultType="com.food.basic.faq.FaqVO" parameterType="com.food.basic.common.dto.Criteria">
select q_num, q_title, q_content, q_regdate, q_updatedate
from(
select
@rownum := @rownum + 1 as rn, q_num, q_title, q_content, q_regdate, q_updatedate
from faq_t, (select @rownum := 0) r order by q_num desc) list
<include refid="mysqlCriteria"></include>
limit #{amount} offset #{startList}
</select>

<select id="getTotalCount" resultType="int">
select count(*)
from faq_t
where <include refid="countCriteria"></include>
q_num > 0
</select>

<insert id="faq_write" parameterType="com.food.basic.faq.FaqVO">
insert into faq_t (q_num, q_title, q_content)
values (null, #{q_title}, #{q_content})
</insert>

<select id="faq_content" resultType="com.food.basic.faq.FaqVO" parameterType="int">
select q_num, q_title, q_content, q_regdate, q_updatedate
from faq_t
where q_num = #{q_num}
</select>

<update id="faq_update" parameterType="com.food.basic.faq.FaqVO">
update faq_t
set q_title = #{q_title}, q_content = #{q_content}, q_updatedate = sysdate
where q_num = #{q_num}
</update>

<delete id="faq_delete" parameterType="int">
delete from faq_t
where q_num = #{q_num}
</delete>

</mapper>