<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.admin.AdminMapper">
<select id="loginOk" parameterType="String" resultType="com.food.basic.admin.AdminVO">
select admin_id, admin_pw, admin_visit_date
from admin_t
where admin_id = #{admin_id}
</select>


</mapper>