<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.payinfo.PayInfoMapper">
<insert id="payInfo_insert" parameterType="PayInfoVO">
insert into payinfo(p_id, ord_code, paymethod, p_price, p_status)
values(seq_payinfo_id.nextval, #{ord_code}, #{paymethod}, #{p_price}, #{p_status})
</insert>


</mapper>