<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.basic.review.ReviewMapper">
<select id="re_list" parameterType="map" resultType="com.food.basic.review.ReviewVO">
select pro_num, re_code, re_title, re_content, re_up_folder, re_img, re_date, u_id, re_rate
from (
select /*+ index_desc(review_t pk_pro_num) */
rownum as rn, pro_num, re_code, re_title, re_content, re_up_folder, re_img, re_date, u_id, re_rate
from review_t
where pro_num = #{pro_num}
and
<![CDATA[  		
		   		ROWNUM <= (#{cri.pageNum} * #{cri.amount})   -- 페이지번호 * 페이지별 출력건수
		 ]]>
)
where rn > (#{cri.pageNum} - 1 ) * #{cri.amount}
</select>

<select id="re_count" parameterType="int" resultType="int">
select count(*)
from review_t
where pro_num = #{pro_num}
</select>




</mapper>