<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
  <body>


<th:block layout:fragment="content">
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-3 mb-4 text-center">비밀번호 변경</h1>
    <div class="row">
        <div class="col-4">
            <section th:replace="~{/user/comm/mypage_menu}"></section>
        </div>
        <div class="col-8">
            <form class="form-horizontal" id="changePwForm" th:action="@{/user/changepw}" method="post">
                <div class="card-body">
                <div class="form-group row">
                    <label for="cur_pwd" class="col-sm-3 col-form-label">현재 비밀번호</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="cur_pwd" name="cur_pwd">
                </div>
                </div>
                <div class="form-group row">
                    <label for="new_pwd" class="col-sm-3 col-form-label">신규 비밀번호</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="new_pwd" name="new_pwd">
                </div>
                </div>
                <div class="form-group row">
                    <label for="new_pwd_2" class="col-sm-3 col-form-label">신규 비밀번호 확인</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="new_pwd_2" name="new_pwd_2">
                </div>
                </div>
                </div>
                <div class="card-footer"> <!-- id="btnJoin" -->
                <button type="button" class="btn btn-info btn-block" id="btnChangePw">비밀번호 변경</button>
                </div>
                </form>
        </div>
    </div>
    <div th:replace="~{layout/comm/footer :: footerFragment}"></div>
  </div>
</main>
</th:block>

	<th:block layout:fragment="script">
	<script th:inline="javascript">
			let msg = [[${msg}]];
			if(msg == "success") {
				alert("비밀번호가 변경되었습니다.");
		    }else if(msg == "failPW"){
		        alert("현재 비밀번호를 확인해주세요.");
		    }
	
			$(document).ready(function(){
	            //수정버튼 클릭시
	            $("#btnChangePw").on("click", function(){
	                if($("#cur_pwd").val() == "") {
	                    alert("현재 비밀번호를 입력하세요.");
	                    return;
	                }
	                if($("#new_pwd").val() != $("#new_pwd_2").val()) {
	                    alert("신규 비밀번호가 일치하지 않습니다.");
	                    $("#new_pwd_2").focus();
	                    $("#new_pwd_2").val("");
	                    return;
	                }
	                $("#changePwForm").submit();
	            });
	        }); //ready 이벤트 끝
        </script>
        </th:block>
  </body>
  
</html>
