<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
  <body>


<th:block layout:fragment="content">
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5 text-center">비밀번호 찾기</h1>
    <div class="row">
        <div class="col">
            <div class="card card-info">
                <div class="card-header">
                <h3 class="card-title">임시 비밀번호 발급</h3>
                </div>
                <form class="form-horizontal" id="pwfindForm" th:action="@{/user/pwfind}" method="post">
                <div class="card-body">
                <div class="form-group row">
                    <label for="u_id" class="col-sm-4 col-form-label">아이디</label>
                    <div class="col-sm-8">
                    <input type="text" class="form-control" id="u_id" name="u_id" placeholder="아이디를 입력하세요." value="user01">
                </div>
                </div>
                <div class="form-group row">
                  <label for="u_name" class="col-sm-4 col-form-label">이름</label>
                  <div class="col-sm-8">
                  <input type="text" class="form-control" id="u_name" name="u_name" placeholder="이름을 입력하세요." value="김씨">
              </div>
              </div>
                <div class="form-group row">
                    <label for="u_email" class="col-sm-4 col-form-label">이메일</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" id="u_email" name="u_email" placeholder="이메일을 입력하세요." value="nusum2@naver.com">
                    
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-link" id="btnMailAuthcode">인증번호 발송</button>
                </div>
                
                </div>
                <div class="form-group row">
                  <label for="authcode" class="col-sm-4 col-form-label">인증코드</label>
                  <div class="col-sm-8">
                  <input type="text" class="form-control" id="authcode" name="authcode" placeholder="인증번호 입력">
              </div>
              </div>
                </div>
                <div class="card-footer text-center">
                <button type="submit" class="btn btn-info btn-block" id="btnPw">비밀번호 재설정</button>
                </div>
                </form>
              </div>
            </div>
        </div>
    <div th:replace="~{layout/comm/footer :: footerFragment}"></div>
  </div>
</main>
</th:block>
	<th:block layout:fragment="script">
	<script th:inline="javascript">
	let msg =  [[${msg}]];
	 if(msg == "success") {
		alert("임시비밀번호를 메일로 발송하였습니다.");
		location.href = "/user/login";
	 }else if(msg == "failInput") {
	     alert("기본입력정보를 확인해주세요.");
	     document.getElementById("u_id").focus();
	 }else if(msg == "failAuth") {
	     alert("인증코드를 확인해주세요.");
	     document.getElementById("u_id").focus();
	 }

    $(document).ready(function(){
      //메일 인증코드
      $("#btnMailAuthcode").on("click", function(){
        if($("#u_email").val() == "") {
            alert("메일을 입력하세요.");
            $("#u_email").focus();
            return;
        }

        $.ajax({
            url : '/email/authcode',
            type : 'get',
            data : {receiverMail : $("#u_email").val(), type : "emailPw"},
            dataType : 'text',
            success : function(result) {
                if(result == "success") {
                    alert("메일로 인증코드가 발급되었습니다.");
                }
            }
        });
    });
    });
        
        </script>
        
        </th:block>
  </body>
  
</html>
