<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">이미지</th>
            <th scope="col">상품번호</th>
            <th scope="col">상품명</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${pro_num_list}">
            <td><img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=s_' + product.pro_img}" id="info_pro_img" style="width: 100%;height: 255px;"></td>
            <td scope="row"><a id="caro_pro_num">[[${pro_num}]]</a></td>
            <td>[[${pro_name}]]</td>
          </tr>
        </tbody>
      </table>
</body>
</html>