<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<footer th:fragment="footerFragment" class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <!-- <img class="mb-2" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
        <small class="d-block mb-3 text-muted">© 2024-2025</small>
      </div>
      <div class="col-6 col-md">
        <a class="text-muted" th:href="@{/}">
          <h5>푸드마트</h5>
        </a>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li>상호명 : 푸드마트</li>
          <li>대표 : 박대표</li>
          <li>서울시 XX구 XX로 999</li>
          <li>사업자 등록번호 : 000-00-00000</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <a class="text-muted" th:href="@{/faq/faq_list}">
          <h5>고객센터</h5>
        </a>
        <ul class="list-unstyled text-small">
          <li>02-XXXX-XXXX</li>
          <li>서울시 XX구 XX로 999</li>
          <li>Email : help@FoodMart.com</li>
        </ul>
      </div>
    </div>
  </footer>
</html>