<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
  <th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
      <link href="/css/pricing.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">  
      </th:block>
  <body>
<th:block layout:fragment="content">
<!-- <div th:replace="~{/category/category :: catelist}"></div> -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/image/avocado.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/image/peach.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/image/lemon.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>
  <div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>
</th:block>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		/* let msg = [[${msg}]];
			if(msg == "success") {
				alert("회원탈퇴가 완료되었습니다.");
		    } */
		    
		    $(document).ready(function(){
        //1차카테고리 클릭시 2차카테고리 출력
        $("a.btncategory").on("click", function(e){
          e.preventDefault();
          let cate_pcode = $(this).attr("th:href");
          let cur_a = $(this);
          //console.log("cate_code : ", cate_code);
          //return;

          $.ajax({
            url : '/category/subcatelist',
            type : 'get',
            data : {cate_pcode : cate_pcode},
            dataType : 'json',
            success : function(result){
              let sub_code = "";
              for(let i=0; i<result.length; i++) { 
                sub_code += '<a class="dropdown-item" href="' + result[i].cate_code + '">' + result[i].cate_name + '</a>'; 
              }
              cur_a.next().empty();
              cur_a.next().append(sub_code);
            }
          });
        });
        //2차 카테고리 클릭
        $("div.subcategory").on("click", "a", function(e){
          e.preventDefault();
          console.log("2차 카테고리", $(this).attr("href"));
          console.log("2차 카테고리", $(this).html());

          location.href = "상품리스트주소";
        });
      });
		    
	</script>
</th:block>
  </body>
</html>
