<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headerFragment">
<div  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a th:href="@{/}" class="text-muted">푸드마트</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
  	<th:block th:if="${session.login_status == null and session.kakao_status == null and session.naver_status == null}">
    <a class="p-2 text-dark" th:href="@{/user/login}">로그인</a>
    <a class="p-2 text-dark" th:href="@{/user/join}">회원가입</a>
    </th:block>
    <th:block th:if="${session.login_status != null}">
    <span th:text="${session.login_status.u_name}"></span>
    <span>[[${session.login_status.u_email}]]</span>
    <a class="p-2 text-dark" th:href="@{/user/logout}">로그아웃</a>
    </th:block>
    <th:block th:if="${session.kakao_status != null}">
    <a class="p-2 text-dark" th:href="@{/oauth2/kakaologout}">로그아웃</a>
    </th:block>
    <th:block th:if="${session.naver_status != null}">
    <a class="p-2 text-dark" th:href="@{/oauth2/naverlogout}">로그아웃</a>
    </th:block>
    <th:block th:if="${session.login_status != null or session.kakao_status != null or session.naver_status != null}">
    <a class="p-2 text-dark" th:href="@{/user/mypage}">마이페이지</a>
    <a class="p-2 text-dark" th:href="@{/order/order_history}">주문내역</a>
    <a class="p-2 text-dark" th:href="@{/cart/cart_list}">장바구니</a>  
    </th:block>  
  </nav>
  </div>
</th:block>
</html>