<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
  <body>


<th:block layout:fragment="content">
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-3 mb-4 text-center">회원 탈퇴</h1>
    <div class="row">
        <div class="col-4">
            <section th:replace="~{/user/comm/mypage_menu}"></section>
        </div>
        <div class="col-8">
            <form class="form-horizontal" id="deleteForm" action="/user/delete" method="post">
                <div class="card-body">
                <div class="form-group row">
                    <label for="u_password" class="col-sm-3 col-form-label">현재 비밀번호</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="u_password" name="u_password">
                </div>
                </div>
                </div>
                <div class="card-footer"> <!-- id="btnJoin" -->
                <button type="button" class="btn btn-info btn-block" id="btnDelete">회원탈퇴</button>
                </div>
                </form>
        </div>
    </div>
    <div th:replace="~{layout/comm/footer :: footerFragment}"></div>
  </div>
</main>
</th:block>

	<th:block layout:fragment="script">
	<script th:inline="javascript">
			let msg = [[${msg}]];
			/* if(msg == "success") {
				alert("회원탈퇴가 완료되었습니다.");
		    }else  */
		    if(msg == "failPW"){
		        alert("비밀번호를 확인해주세요.");
		    }
	
			$(document).ready(function(){
	            //회원탈퇴 버튼 클릭시
	            $("#btnDelete").on("click", function(){
	                if($("#u_password").val() == "") {
	                    alert("비밀번호를 입력하세요.");
	                    $("#u_password").focus();
	                    return;
	                }
	                alert("회원탈퇴가 완료되었습니다.");
	                $("#deleteForm").submit();
	            });
	        }); //ready 이벤트 끝
        </script>
        </th:block>
  </body>
  
</html>
