<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/adminlayout}">

<body class="hold-transition skin-blue sidebar-mini">
<th:block layout:fragment="content">
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Page Header
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
          <li class="active">Here</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Your Page Content Here -->
	<div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">QnA 수정</h3>
              </div><!-- /.box-header -->
              <!-- form start -->
              <form id="actionForm" th:action="@{/admin/qna/qna_admin_list}" method="get">
								<input type="hidden" name="q_num" id="q_num" th:value="${vo.q_num}" />
								<input type="hidden" name="pageNum" id="pageNum" th:value="${cri.pageNum}" />
								<input type="hidden" name="amount"  id="amount" th:value="${cri.amount}" />
								<input type="hidden" name="type" id="type" th:value="${cri.type}" />
								<input type="hidden" name="keyword" id="keyword" th:value="${cri.keyword}" />
							  </form>
              <form class="form-horizontal" th:action="@{/admin/qna/qna_content}" method="post">
                <div class="box-body">
                  <!-- <div class="form-group"> -->
                  
                    <!-- <label for="inputEmail3" class="col-sm-1 col-form-label">1차 카테고리</label>
                    <div class="col-sm-3">
                      <select class="form-control" id="btn_firstCategory">
                      <option>1차 카테고리 선택</option>
                      <option th:each="category : ${cate_list}" th:value="${category.cate_code}" th:text="${category.cate_name}">option1</option>
                      </select>
                    </div>
                     <label for="inputEmail3" class="col-sm-1 col-form-label">2차 카테고리</label>
                    <div class="col-sm-3">
                      <select class="form-control" id="btn_secondCategory" name="cate_code">
                      <option>2차 카테고리 선택</option>
                      </select>
                    </div> -->
                  <!-- </div> -->
                  <div class="form-group row">
				  <label for="q_title" class="col-sm-1 col-form-label">제목</label>
	              <div class="col-sm-4">
	                <input type="text" class="form-control" name="q_title" id="q_title" th:value="${vo.q_title}" readonly>
	              </div>
	              <label for="q_regdate" class="col-sm-1 col-form-label">작성일</label>
                <div class="col-sm-4">
	                <input type="text" class="form-control" name="q_regdate" id="q_regdate" th:value="${#dates.format(vo.q_regdate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
	              </div>
				</div>
				<div class="form-group row">
				  <label for="q_content" class="col-sm-1 col-form-label">내용</label>
	              <div class="col-sm-10">
	                <textarea class="form-control" name="q_content" id="q_content" rows="3"style="width:650px; height:200px; resize:none;" th:text="${vo.q_content}" readonly></textarea>
	              </div>
	            </div>
                <div class="box-footer">
                  <button type="button" class="btn btn-info" id="btn_qna_update">수정</button>
                  <button type="button" class="btn btn-danger" id="btn_qna_delete">삭제</button>
                  <button type="button" class="btn btn-primary pull-right" id="btn_qna_list">목록</button>
                </div><!-- /.box-footer -->
              </form>
            </div>
      </section><!-- /.content -->
    </div>
</th:block>
<th:block layout:fragment="script">
<script>
$(document).ready(function(){
	let actionForm = $("#actionForm");
	
	//목록 버튼
	$("button#btn_qna_list").on("click", function(){
		actionForm.submit();
	
	});
	//수정 버튼
	$("button#btn_qna_update").on("click", function(){
		actionForm.attr("action", "/admin/qna/qna_update");
    
    actionForm.submit();
    
	});
	//삭제버튼
  $("button#btn_qna_delete").on("click", function(){
	  if(!confirm("삭제하시겠습니까?")) return;
		
		actionForm.attr("action", "/admin/qna/qna_delete");
    
		actionForm.submit();
  });
});
</script>
</th:block>
</body>
</html>