<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
<th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script id="review-template" type="text/x-handlebars-template">
        <table id="re_table" class="table">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">평점</th>
            <th scope="col">작성자</th>
            <th scope="col">등록일</th>
            <th scope="col">비고</th>
          </tr>
        </thead>
        <tbody>
		{{#each .}}
          <tr>
            <th scope="row">{{re_code}}</th>
            <td>{{re_title}}</td>
            <td>{{re_content}}</td>
            <td>{{displayStar re_rate}}</td>
            <td>{{u_id}}</td>
            <td>{{convertDate re_date}}</td>
			<td>{{authControlView u_id re_code}}</td>
          </tr>
    	{{/each}}
        </tbody>
      	</table>
        </script>
      </th:block>

<body>
<th:block layout:fragment="content">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="display-6" th:utext="${cate_name}"></h3>
</div>
<div class="container">
      <div class="row">
        	<div class="col-6">
        		<img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=' + product.pro_img}" id="info_pro_img" style="width: 100%;height: 400px;">
        	</div>
        	<div class="col-6">
        	<form>
				<div class="form-group">
					<span id="info_pro_name" th:text="${product.pro_name}">이름</span>
					<small class="text-muted">리뷰 : 0</small>
				</div>
  				<div class="form-group">
			    	<label for="exampleFormControlInput1">판매가격: </label><span th:text="${#numbers.formatInteger(product.pro_price, 3, 'COMMA') + '원'}">가격</span>
				</div>
			    <div class="form-group">
					<label>수량</label>
					<input type="text" class="form-control" value="1" id="btn_cart_amount">
			    </div>
			    <div class="form-group">
					<button type="button" class="btn btn-secondary" style="width: 100%;" id="btn_direct_order" th:data-pro_num="${product.pro_num}">구매하기</button>
					<button type="button" class="btn btn-light" style="width: 100%;" id="btn_cart_add" th:data-pro_num="${product.pro_num}">장바구니</button>
			    </div>
			</form>
        	</div>
        	</div>
      <div class="row">
  <div class="col">
      <div id="pro_info">
    <ul>
    <li><a href="#pro_detail">상세정보</a></li>
    <li><a href="#pro_review">상품리뷰</a></li>
    <li><a href="#pro_qna">Q&A</a></li>
  </ul>
  <div id="pro_detail">
    <p th:utext="${product.pro_content}"></p>
  </div>
  <div id="pro_review">
	<p><button type="button" class="btn btn-link" id="btn_review_modal">상품후기작성</button></p>
	<!-- 상품후기가 출력될 위치 -->
    <div id="review_list"></div>
	<!-- 페이징 출력될 위치 -->
	<div id="review_paging"></div>
  </div>
  <div id="pro_qna">
    <p>Q</p>
    <p>A</p>
  </div>
</div>
</div>
        </div>
	<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>
<!-- Button trigger modal --> 
  <!-- 상품후기쓰기 Modal -->
  <div class="modal fade" id="review_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  ...
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Understood</button>
		</div>
	  </div>
	</div>
  </div>
</th:block>
<th:block layout:fragment="script">
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
	<script th:inline="javascript">
		$(document).ready(function(){
			$("#pro_info").tabs();
			
		$("button#btn_cart_add").on("click", function(){
			let pro_num = $(this).data("pro_num");
			let cart_amount = $("#btn_cart_amount").val();
			
			$.ajax({
				url : '/cart/cart_add',
				type : 'get',
				data : {pro_num : pro_num, cart_amount : cart_amount}, //변수 : 값
				dataType : "text",
				success : function(result) {
					if(result == 'success') {
						alert("장바구니에 등록되었습니다.");
						if(confirm("장바구니로 이동하시겠습니까?")) {
							location.href = "/cart/cart_list";
						}
					}
				}
			});
			

		});
		
		$("button#btn_direct_order").on("click", function(){
			
			

		});
		//상품후기, 페이징정보 호출 작업
		let reviewPage = 1; //첫번째 페이지
		let url = "/review/re_list/" + [[${product.pro_num}]] + "/" + reviewPage;

		//console.log("상품후기주소", url);

		getReviewList(url);

		//ajax 주소요청
		function getReviewList(url) {
			$.getJSON(url, function(reviewlist){

				print_reviewlist(reviewlist.re_list, $("#review_list"), $("#review-template"));
				print_paging(reviewlist.pageMaker, $("#review_paging"));
			});
		}
		//핸들바 템플릿 : 상품후기 ui작업
		let print_reviewlist = function(reviewData, target, template) {
			let templateObj = Handlebars.compile(template.html()); //템플릿 문법검사 및 참조
			let reviewHtml = templateObj(reviewData);
			target.children().remove();
			target.append(reviewHtml);
		}
		//페이징 ui작업 - 로직으로 작업 pageData = pageMaker
		let print_paging = function(pageData, target) {
			let str = `<nav aria-label="Page navigation example">`;
				str += `<ul class="pagination">`;
			
			//이전 표시여부
			if(pageData.prev) {
				str += ` <li class="page-item">`;
				str += `<a class="page-link" href="${pageData.startPage - 1}" aria-label="Previous">`;
				str += `<span aria-hidden="true">&laquo;</span>`;
				str += ` </a>`;
			}

			//번호 표시
			for(let i=pageData.startPage; i<pageData.endPage; i++) {
				let className = pageData.cri.pageNum == i ? 'active' : '';
				str += `<li class="page-item ${className}"><a class="page-link" href="${i}">${i}</a></li>`;
			}

			//다음 표시여부
			if(pageData.next) {
				str += ` <li class="page-item">`;
				str += `<a class="page-link" href="${pageData.endPage + 1}" aria-label="Next">`;
				str += `<span aria-hidden="true">&raquo;</span>`;
				str += ` </a>`;
			}
			target.html(str);
		}

		//핸들바 함수 : 평점
		Handlebars.registerHelper("displayStar", function(rating){
			let star = "";
			switch(rating) {
				case 1 :
					star = "★☆☆☆☆";
					break;
				case 2 :
					star = "★★☆☆☆";
					break;
				case 3 :
					star = "★★★☆☆";
					break;
				case 4 :
					star = "★★★★☆";
					break;
				case 5 :
					star = "★★★★★";
					break;
			}
			return star;
		});
		//핸들바 함수 : 날짜 포맷 2024/07/10
		Handlebars.registerHelper("convertDate", function(re_date){
			const d = new Date(re_date);
			let year = d.getFullYear();
			let month = d.getMonth() + 1;
			let date = d.getDate();
			let hour = d.getHours();
			let minute = d.getMinutes();

			return `${year}/${month}/${date} ${hour}:${minute}`;
		});
		//핸들바 함수 : 작성자와 로그인 사용자가 일치되는 경우 수정, 삭제버튼 표시
		Handlebars.registerHelper("authControlView", function(u_id, re_code){
			let loginId = [[ ${session.login_status.u_id} ]];

			let str = "";
			if(loginId == u_id) {
				str += `<button type="button" class="btn btn-link" data-re_code="${re_code}">edit</button>`
				str += `<button type="button" class="btn btn-link" data-re_code="${re_code}">delete</button>`
			}

			return new Handlebars.SafeString(str);
		});
		
		//페이지 클릭 이벤트
		$("#review_paging").on("click", "nav ul.pagination a", function(e){
			e.preventDefault();
			reviewPage = $(this).attr("href"); //선택한 페이지번호

			url = "/review/re_list/" + [[${product.pro_num}]] + "/" + reviewPage;

			getReviewList(url);
		});

		//상품후기 modal
		$("#btn_review_modal").on("click", function(){
			$("#review_modal").modal('show');
		});

});

	</script>
</th:block>
</body>
</html>