<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
<th:block layout:fragment="css">
        <!-- 각 페이지의 css -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
      </th:block>

<body>
<th:block layout:fragment="content">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3 class="display-6" th:utext="${cate_name}"></h3>
</div>
<div class="container">
      <div class="row">
        	<div class="col-6">
        		<img th:src="${'/product/image_display?dateFolderName=' + product.pro_up_folder + '&fileName=' + product.pro_img}" id="info_pro_img" style="width: 100%;height: 400px;">
        	</div>
        	<div class="col-6">
        	<form>
				<div class="form-group">
					<span id="info_pro_name" th:text="${product.pro_name}">이름</span>
					<small class="text-muted">리뷰 : 0</small>
				</div>
  				<div class="form-group">
			    	<label for="exampleFormControlInput1">판매가격: </label><span th:text="${#numbers.formatInteger(product.pro_price, 3, 'COMMA') + '원'}">가격</span>
				</div>
			    <div class="form-group">
					<label>수량</label>
					<input type="text" class="form-control" value="1" id="btn_cart_amount">
			    </div>
			    <div class="form-group">
					<button type="button" class="btn btn-secondary" style="width: 100%;" id="btn_direct_order" th:data-pro_num="${product.pro_num}">구매하기</button>
					<button type="button" class="btn btn-light" style="width: 100%;" id="btn_cart_add" th:data-pro_num="${product.pro_num}">장바구니</button>
			    </div>
			</form>
        	</div>
        	</div>
      <div class="row">
  <div class="col">
      <div id="pro_info">
    <ul>
    <li><a href="#pro_datail">상세정보</a></li>
    <li><a href="#pro_review">상품리뷰</a></li>
    <li><a href="#pro_qna">Q&A</a></li>
  </ul>
  <div id="pro_datail">
    <p th:utext="${product.pro_content}"></p>
  </div>
  <div id="pro_review">
    <p>리뷰</p>
  </div>
  <div id="pro_qna">
    <p>Q</p>
    <p>A</p>
  </div>
</div>
</div>
        </div>
	<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>
</div>
</th:block>
<th:block layout:fragment="script">
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
	<script>
		$(document).ready(function(){
			$("#pro_info").tabs();
			
		$("button#btn_cart_add").on("click", function(){
			let pro_num = $(this).data("pro_num");
			let cart_amount = $("#btn_cart_amount").val();
			
			$.ajax({
				url : '/cart/cart_add',
				type : 'get',
				data : {pro_num : pro_num, cart_amount : cart_amount}, //변수 : 값
				dataType : "text",
				success : function(result) {
					if(result == 'success') {
						alert("장바구니에 등록되었습니다.");
						if(confirm("장바구니로 이동하시겠습니까?")) {
							location.href = "/cart/cart_list";
						}
					}
				}
			});
			

		});
		
		$("button#btn_direct_order").on("click", function(){
			
			

		});
			
});

	</script>
</th:block>
</body>
</html>